In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('Persons_killed_due_to_Non-use_of_Safety_Device_2016.csv')

In [5]:
df

,S. No.,State/ UT,Non-wearing of Helmet - Male,Non-wearing of Helmet - Female,Non-wearing of Helmet - Total,Non-wearing of seat belt - Male,Non-wearing of seat belt - Female,Non-wearing of seat belt - Total
0,1,Andhra Pradesh,459,18,477,222,15,237
1,2,Arunachal Pradesh,10,4,14,0,0,0
2,3,Assam,0,0,0,0,0,0
3,4,Bihar,0,0,0,0,0,0
4,5,Chhattisgarh,89,7,96,6,0,6
5,6,Goa,174,0,174,37,4,41
6,7,Gujarat,103,3,106,86,19,105
7,8,Haryana,79,1,80,25,0,25
8,9,Himachal Pradesh,123,2,125,400,50,450
9,10,Jammu & Kashmir,0,0,0,0,0,0
10,11,Jharkhand,17,0,17,0,0,0
11,12,Karnataka,237,7,244,39,5,44
12,13,Kerala,676,163,839,258,114,372
13,14,Madhya Pradesh,297,48,345,174,32,206
14,15,Maharashtra,1029,84,1113,314,44,358
15,16,Manipur,0,0,0,0,0,0
16,17,Meghalaya,12,6,18,0,0,0
17,18,Mizoram,0,0,0,0,0,0
18,19,Nagaland,0,0,0,0,0,0
19,20,Orissa,56,5,61,19,3,22
20,21,Punjab,0,0,0,0,0,0
21,22,Rajasthan,439,31,470,314,36,350
22,23,Sikkim,0,0,0,0,0,0
23,24,Tamil Nadu,1799,147,1946,542,90,632
24,25,Telangana,0,0,0,0,0,0
25,26,Tripura,0,0,0,0,0,0
26,27,Uttarakhand,42,1,43,0,0,0
27,28,Uttar Pradesh,2826,992,3818,2016,725,2741
28,29,West Bengal,131,0,131,45,0,45
29,30,A & N Islands,0,0,0,0,0,0
30,31,Chandigarh,0,0,0,0,0,0
31,32,D & N Haveli,0,0,0,0,0,0
32,33,Daman & Diu,0,0,0,0,0,0
33,34,Delhi,2,0,2,2,2,4
34,35,Lakshadweep,0,0,0,0,0,0
35,36,Puducherry,16,0,16,0,0,0
36,Total,Total,8616,1519,10135,4499,1139,5638

In [6]:
df.head()

,S. No.,State/ UT,Non-wearing of Helmet - Male,Non-wearing of Helmet - Female,Non-wearing of Helmet - Total,Non-wearing of seat belt - Male,Non-wearing of seat belt - Female,Non-wearing of seat belt - Total
0,1,Andhra Pradesh,459,18,477,222,15,237
1,2,Arunachal Pradesh,10,4,14,0,0,0
2,3,Assam,0,0,0,0,0,0
3,4,Bihar,0,0,0,0,0,0
4,5,Chhattisgarh,89,7,96,6,0,6

In [18]:
total_deaths_male = df['Non-wearing of Helmet - Male'].sum()

total_deaths_female = df['Non-wearing of Helmet - Female'].sum()

In [8]:
total_deaths_male

17232

In [9]:
total_deaths_female

3038

In [13]:
Total_Death=total_deaths_female+total_deaths_male
Total_Death

20270

In [19]:

male_percentage = (total_deaths_male / Total_Death) * 100
female_percentage = (total_deaths_male / Total_Death) * 100

print(f"Percentage of male deaths due to non-wearing of helmet: {male_percentage:.2f}%")
print(f"Percentage of female deaths due to non-wearing of helmet: {female_percentage:.2f}%")

Percentage of male deaths due to non-wearing of helmet: 85.01%
Percentage of female deaths due to non-wearing of helmet: 85.01%